<rule>
  <name>Canada</name>
  <modelVersion>1.0</modelVersion>
  <attributes/>
  <metadataList/>
  <lhs>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Order</factType>
            <fieldName>orderHeader</fieldName>
            <fieldType>OrderHeader</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <constraintValueType>0</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <fieldBinding>ID</fieldBinding>
            <factType>OrderHeader</factType>
            <fieldName>order_ID</fieldName>
            <fieldType>String</fieldType>
            <parent class="fieldConstraint" reference="../../fieldConstraint"/>
          </fieldConstraint>
          <fieldConstraint>
            <value>$date</value>
            <operator>&gt;</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>OrderHeader</factType>
            <fieldName>order_Creation_Date</fieldName>
            <fieldType>Comparable</fieldType>
            <parent class="fieldConstraint" reference="../../fieldConstraint"/>
          </fieldConstraint>
          <fieldConstraint>
            <value>$min</value>
            <operator>&gt;=</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Order</factType>
            <fieldName>orderTotalSRP</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$max</value>
            <operator>&lt;</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>Order</factType>
            <fieldName>orderTotalSRP</fieldName>
            <fieldType>Double</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>Order</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>$eligible</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>OrderLineItem</factType>
            <fieldName>partner_Incentive_Eligible_Flag</fieldName>
            <fieldType>Boolean</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>OrderLineItem</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <constraintList>
        <constraints>
          <fieldConstraint>
            <value>$area</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EndUserInfo</factType>
            <fieldName>end_User_Area</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
          <fieldConstraint>
            <value>$region</value>
            <operator>==</operator>
            <constraintValueType>7</constraintValueType>
            <expression>
              <parts/>
              <index>2147483647</index>
            </expression>
            <parameters/>
            <factType>EndUserInfo</factType>
            <fieldName>end_User_Region</fieldName>
            <fieldType>String</fieldType>
          </fieldConstraint>
        </constraints>
      </constraintList>
      <factType>EndUserInfo</factType>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
    <fact>
      <factType>BREObjectSFDC</factType>
      <boundName>bre</boundName>
      <isNegated>false</isNegated>
      <window>
        <parameters/>
      </window>
    </fact>
  </lhs>
  <rhs>
    <org.drools.workbench.models.datamodel.rule.ActionCallMethod>
      <fieldValues>
        <org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
          <field>registerValidation</field>
          <value>ID</value>
          <nature>3</nature>
          <type>String</type>
          <method></method>
        </org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
        <org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
          <field>registerValidation</field>
          <value>$name</value>
          <nature>3</nature>
          <type>String</type>
          <method></method>
        </org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
        <org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
          <field>registerValidation</field>
          <value>@{type}</value>
          <nature>3</nature>
          <type>String</type>
          <method></method>
        </org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
        <org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
          <field>registerValidation</field>
          <value>@{return}</value>
          <nature>3</nature>
          <type>String</type>
          <method></method>
        </org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
        <org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
          <field>registerValidation</field>
          <value>true</value>
          <nature>0</nature>
          <type>Boolean</type>
          <method></method>
        </org.drools.workbench.models.datamodel.rule.ActionFieldFunction>
      </fieldValues>
      <variable>bre</variable>
      <state>1</state>
      <methodName>registerValidation</methodName>
    </org.drools.workbench.models.datamodel.rule.ActionCallMethod>
  </rhs>
  <imports>
    <imports>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>net.citrite.pip.canonical.bre.BREObjectSFDC</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>net.citrite.pip.sfdc.Order</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>net.citrite.pip.sfdc.OrderLineItem</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>net.citrite.pip.sfdc.OrderHeader</type>
      </org.kie.soup.project.datamodel.imports.Import>
      <org.kie.soup.project.datamodel.imports.Import>
        <type>net.citrite.pip.sfdc.EndUserInfo</type>
      </org.kie.soup.project.datamodel.imports.Import>
    </imports>
  </imports>
  <packageName>net.citrite.pip.claim_validation_poc</packageName>
  <isNegated>false</isNegated>
  <table>
    <entry>
      <string>$region</string>
      <list/>
    </entry>
    <entry>
      <string>$max</string>
      <list/>
    </entry>
    <entry>
      <string>__ID_KOL_NAME__</string>
      <list/>
    </entry>
    <entry>
      <string>$area</string>
      <list/>
    </entry>
    <entry>
      <string>$date</string>
      <list/>
    </entry>
    <entry>
      <string>$eligible</string>
      <list/>
    </entry>
    <entry>
      <string>$min</string>
      <list/>
    </entry>
  </table>
  <idCol>0</idCol>
  <rowsCount>0</rowsCount>
</rule>